html {
    font-family: Source Sans Pro, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #f14d6f;
    --secondary-color: #9879bd;
    --light-grey: #aaaaaa; 
    /* 70% */
    --lighter-grey: #c7c7c7; 
    /* 80% */

    --dark-grey: #474747;
    /* 30% */
    --darker-grey: #313131;
    /* 20% */
    font-size: 16px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    background-image: url('images/taipei-header.jpg'); 
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    text-align: center;
    line-height: 1rem;
}

.title {
    grid-row: 2;
    position: relative;
    bottom: 2vh;
    /* align-self: start; */
}

a {
    color: white;
    position: relative;
    overflow: hidden;
}

a:hover {
    color: var(--main-color);
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 8rem;
    letter-spacing: 0.4rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

h4 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    /* padding: 0; */
    padding-bottom: 6rem;
    color: var(--main-color);
    letter-spacing: 0.3rem;
    /* margin: 30vh auto;
    padding: 2rem 0; */
    text-transform: uppercase;
    /* align-self: end; */
    text-align: center;
}


.byline {
    grid-row: 3;
    margin: auto 0;
    padding-top: 10vh;
    width: 100%;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    font-weight: 400;
    color: white;
}
/* 
.fab {
    padding: 1rem;
} */

p {
    width: 85%;
    margin: 1rem 4vw;
    padding-bottom: 2rem;
}


ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.portrait {
    /* height: 100%; */
    
    width: 100%;
    overflow: hidden;
}

.landscape {
    /* width: 100%; */
    height: 100%;
    overflow: hidden;
}

.tiny {

}

#mapid { 
    margin: 10vh 10px 10px 10px;
    display: block;
    height: 40vh; 
    width: auto;
    
}

.portrait.sml {

}

.portrait.med {
    grid-row: span 2;
    grid-column: span 2;
}

.portrait.lrg {
    grid-row: span 4;
    grid-column: span 2;
}


.landscape.med {
    grid-column: span 2;
    grid-row: span 2;
}

/* .landscape.lrg {
    grid-column: span 4;
    grid-row: span 2;
} */

img {
    display: block;  
}

svg {
fill: white;
}

svg:hover {
    fill: var(--main-color);
    }

/* https://jonathannicol.com/blog/2014/06/16/centre-crop-thumbnails-with-css/ */
.thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: opacity .3s .25s ease-out;
    will-change: opacity;
    /* overflow: scroll; */
    /* scroll-snap-align: start; */
  }

  .thumbnail.is-hidden {
    opacity: 0;
    
  }

  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }

  .main-content {
      display: block;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto; 
  }

@media (max-width: 4000px) { /* dsktp */

    .the-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
        grid-auto-rows: 200px;
        grid-auto-flow: dense;
        grid-gap: 3px;
        margin: 10px; 
    }
}

@media (max-width: 900px) { /* mob */

    .the-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
        grid-auto-rows: 100px;
        grid-auto-flow: dense;
        grid-gap: 3px;
        margin: 10px; 
    }

    .byline {
        font-size: 0.7rem;
        padding: 0px 10px 15px 10px;
        /* margin: auto 0;
        padding-top: 10vh;
        width: 100%;
        line-height: 2;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        text-align: center;
        font-weight: 400;
        color: white; */
    }

    .h1 {
    padding-left: 10px;
    padding-right: 10px;
    }

    #mapid { 
        margin: 10px 10px 10px 10px;
    }
}

/* Animation effects for Magnific */
/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
    
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
   opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
   opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
   opacity: 0;

   -webkit-transition: all 0.15s ease-out;
   -moz-transition: all 0.15s ease-out;
   transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
   opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
   opacity: 0;
}